@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');
* {
box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
    background: #dcdde1;
}
.row:before,
.row:after {
    content: ""; 
    display: table; 
}
.row:after {
    clear: both;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
    
}  
header {
  background-color: #313234;
  height: 50px;
  background-color: rgba(0.0.0 0.5);
      
}

.logo {
    float: left;
}
.links {
    padding: 2px 2px;
}
header > .container > nav img {
  padding: 10px;
}
header > .container > nav ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
header > .container > nav ul > li {
  display:inline-block;
}

header > .container > nav ul > li > a {
  line-height: 50px;
  display: block;
  color: #fff;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
}
header > .container > nav ul > li > a:hover {
  color:#0984e3;
}
.hero {
    width:100%;
    height: 80vh;
    position:relative;
    background: url(https://images.pexels.com/photos/196661/pexels-photo-196661.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
    background-repeat: no-repeat;
    background-size: cover;
}
.slogan{
    width: 50%;
    height: 150px;
    max-height:200px;
    right: 0;
    float: right;
    position:absolute;
    margin: 150px 0;
    background: rgba(47, 53, 66,0.4);
}
.slogan_text1{
    text-transform: uppercase;
    color:white;
    font-size: 30px;
    font-weight: 300;
    padding: 5px 100px 0px 5px;
}
.slogan_text2{
    text-transform: uppercase;
    font-size: 30px;
    color: white;
    padding: 0px 100px 5px 5px;
    font-weight: bold;
}
[class*="col-"] {
	float:left;
    width: 100%;
	min-height: 1px;
    padding:12px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-offset-1 {margin-left: 8.33%;}
.col-offset-2 {margin-left: 16.66%;}
.col-offset-3 {margin-left: 25%;}
.col-offset-4 {margin-left: 33.33%;}
.col-offset-5 {margin-left: 41.66%;}
.col-offset-6 {margin-left: 50%;}
.col-offset-7 {margin-left: 58.33%;}
.col-offset-8 {margin-left: 66.66%;}
.col-offset-9 {margin-left: 75%;}
.col-offset-10 {margin-left: 83.33%;}
.col-offset-11 {margin-left: 91.66%;}
.col-offset-12 {margin-left: 100%;}

.options_1  {
    text-align: center;
    padding: 70px 5px;
}
.text {
    text-transform: uppercase;
}
.ikona {
    font-size: 50px;
    border-radius:20px;
    width: 100px;
    margin: 20px auto;
    border: 5px solid rgb(49,51,50);
    padding: 15px 15px;
    background: rgb(49,51,50);
}
.ikona:hover {
    background: rgb(0,199,232);
    border-color: rgb(0,199,232);
}
.ikona:hover + .text > h2 {
  color: rgba(0,199,232,1);
}
.fa {
    color: white;
}
.feature {
    padding: 50px 0;
    margin: 0 auto;
    text-align: center;
}
.feature h1 {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
}
.feature p {
    font-size: 20px;
    color: rgb(157,157,157);
    padding: 15px 100px;
}


.gallery1 {
    margin: 10px 0;
} 
.gallery1_item {
    height: 380px;
    position:relative;
    
}
.gallery1_item > img{
    width:100%;
    height: 100%;
}
.layer {
    position: absolute;
    width:100%;
    height: 100%;
    top: 0;
    text-align:center;
    font-size: 20px;
    
}
.layer .icon-layer > a {
    display:inline-block;
    line-height:50px;
    width: 50px;
    height: 50px;
}
.icon-layer {
    padding: 175px 0;
}
.layer {
    display:none;
}
.gallery1_item:hover .layer {
    display:block;
    background: rgba(0,0,0, 0.5);
    
}
.layer .icon-layer > a:hover {
    background: rgba(255,255,255,0.5);
    transform:scale(1.20);
    border-radius: 10px;
}

.crew {
    margin: 100px auto;
    padding: 50px 5px 50px 5px;
    text-align:center;
}
.crew_photo {
    display: block;
    position: relative;
}
.img1{
    padding: 10px 20px;
    width:300px;
    height: 300px;
    border-radius: 100%;
    transition: 0.4s;
    text-align: center;
}
.descr_img1 {
    position: absolute;
    width: 100%;
    line-height: 50px;
    top:100px;
    text-transform: uppercase;
    display: none;
    color: whitesmoke;
    font-weight:bold;
    border-radius: 100%;
}
.descr_img2 {
    font-size: 20px;
    font-weight: 800;
}
 .crew_image:hover {
    cursor:pointer;
    transition: 0.4s;
}
.crew_photo:hover  .descr_img1   {
    display: block;
    
}
.awesome_descr {
    padding: 5px 0;
}

.photo_coffee {
    padding: 5px 20px;
   
}
.awesome_p {
    text-align: left;
    line-height: 30px;
}
.coffee {
    width: 100%;
    height: 350px;
    
     border-radius: 5px;
}
.awesome {
    background: darkgray;
}
.awesome_h2 {
    line-height: 30px;
}
.awesome_descr > h2 {
    text-transform: uppercase;
    font-size: 40px;
    color:white;
    font-weight: bold;
}
.awesome_p {
    color:white;
    float: left;
  
}

.numbers {
    text-align: center;
    line-height: 5px;
    padding:50px 0;
}
.num {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 80px;
}
.descr_num {
    font-size: 20px;
    text-transform:uppercase;
    font-weight: bold;
    color: rgba(0,199,232,1);
}
footer {
    padding: 10px 25px;
}
.foot {
    padding: 5px auto;
    float:left;
    background: #353736;
    color: white;
}
.about,  .get, .doc{
    text-align: left;
}

.about1 > h2 {
    font-size: 30px;
    text-transform: uppercase;
}

.getin > h2  {
    font-size: 30px;
    text-transform: uppercase;
}
.leftdescription {
    text-transform: uppercase;
    font-size: 15px;
    float:left;
}
.social > h2 {
    font-size: 30px;
    text-transform: uppercase;
}
.icon-btn {
	width: 40px;
	height: 40px;
	border-style: none;
	background: rgba(0,199,232,1);
	margin: 10px;
	cursor: pointer;
	font-size: 20px;
}
.icon-btn:hover {
	transform: scale(1.10);
}

.twitter {
	color: #4099FF;
}
.twitter:hover {
	background-color: #4099FF;
	color: #FFFFFF;
}
.facebook {
	color: #3B5998;
}
.facebook:hover {
	background-color: #3B5998;
	color: #FFFFFF;
}
.google-plus {
	color: #DB5A3C;
}
.google-plus:hover {
	background-color: #DB5A3C;
	color: #FFFFFF;
}
.instagram {
	color: #5C3D2E;
}
.instagram:hover {
	background-color: #5C3D2E;
	color: #FFFFFF;
}
.github {
	color: #4183C4;
}
.github:hover {
	background-color: #4183C4;
	color: #FFFFFF;
}
.copy {
    background: #2f3640;     
    padding: 10px 0;
    text-align: center;
}
.test {
    color: aqua;
}




@media (max-width: 767px){
   [class*="col-"] {
    width: 100%;
    padding: 12px;
   float:left;
}
    .logo {
    float: none;
     
}
header {
  background-color: #313234;
  height: 370px;
  background-color: rgba(0.0.0 0.5);
       text-align: center;
      
}
.links {
    padding: 2px 2px;
    margin: 0 auto;
}
header > .container > nav img {
  padding: 10px;
}
header > .container > nav ul {
  float: none;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}
header > .container > nav ul > li {
  display:block;
}
.slogan{
    width: 50%;
    height: 200px;
    max-height:150px;
    right: 0;
    float: right;
    position:absolute;
    margin: 100px 0;
    background: rgba(47, 53, 66,0.4);
}
.slogan_text1{
    text-transform: uppercase;
    color:white;
    font-size: 20px;
    font-weight: 300;
    padding: 5px 50px 0px 5px;
}
.slogan_text2{
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    padding: 0px 50px 5px 5px;
    font-weight: bold;
}
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    
.layer{
  display: block;  
} 
.awesome_descr {
    padding: 5px 5px;
    text-align: center;
}
.descr_img1   {
    display: block;
   
}
 .about,   .get, .soc {
        text-align: center;
    }
}

@media (min-width: 768px) {
    
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}